asgiref==3.6.0
colorama==0.4.6
Django==4.1.7
django-autoslug==1.9.8
django-environ==0.10.0
django-otp==1.1.6
django-recaptcha==3.0.0
django-tinymce==3.5.0
psycopg2==2.9.5
pypng==0.20220715.0
qrcode==7.4.2
sqlparse==0.4.3
typing_extensions==4.5.0
tzdata==2022.7