{% extends 'lastever/base.html' %}
{% load i18n %}

{% block head_title %}{% trans "Two-Factor Authentication" %}{% endblock %}

{% block content %}

<div class="main-cover">
  <div class="cards-container container">
    <div class="row">
      <div class="col-lg-12 mb-4 mt-4">
					<div class="card h-100">
            <div class="card-header">
              <h4>{% trans "Two-Factor Authentication" %}</h4>
            </div>
            <div class="card-body">
              <form method="post">
                {% for error in field_errors %}
                  <div class="alert alert-danger" role="alert">
                    {{ error|escape }}
                  </div>
                {% endfor %}
                {% csrf_token %}
                <div class="form-group">
                  <label for="id_otp_token">{{ form.otp_token.label }}</label>
                  <input id="id_otp_token" class="form-control" name="otp_token" autofocus="autofocus" type="text" />
                </div>
                <button type="submit" class="btn btn-primary">
                  {% trans 'Authenticate' %}
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}
