{% extends 'lastever/base.html' %}
{% load i18n %}

{% block head_title %}{% trans "Two-Factor Authentication Backup Tokens" %}{% endblock %}

{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">{% trans "Two-Factor Authentication Backup Tokens" %}</h1>
        <p class="col-lg-10 fs-4">If you lose access to your authenticator use one of the codes to login.</a></p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light password_reset" method="post">
		{% for error in field_errors %}
                  <div class="alert alert-danger" role="alert">
                    {{ error|escape }}
                  </div>
                {% endfor %}
                {% csrf_token %}
          <div class="form-floating mb-3">
            {% if backup_tokens %}
                {% if reveal_tokens %}
                  <ul>
                    {% for token in backup_tokens %}
                      <li>{{ token.token }}</li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <p class="card-text">{% trans 'Backup tokens have been generated, but are not revealed here for security reasons. Press the button below to generate new ones.' %}</p>
              {% endif %}
              {% else %}
                <p class="card-text">{% trans 'No tokens. Press the button below to generate some.' %}</p>
              {% endif %}
              <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">
                  {% trans 'Generate backup tokens' %}
                </button>
              </form>
			  <a class="btn btn-danger mt-4" href="{% url 'two-factor-remove' %}">Disable Two Factor</a>
          </div>
		  
        </form>
      </div>
    </div>
  </div>

{% endblock %}
