{% extends "lastever/base.html" %}

{% block head_title %}About{% endblock %}

{% block content %}

<div class="py-2 subpage-banner">
	<div class="container col-xxl-12">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <h1 class="display-5 fw-bold lh-1 mb-3">About the AISL</h1>
      </div>
    </div>
  </div>
</div>
<div class="conatiner-lg pt-5 pb-4 container">
	<div class="row">
	<p>The AISL was established in 2009 to provide a local and affordable option for residents to play indoor soccer during the winter months. The current day-to-day operations of the league are managed by sibblings Kevin Read and Andrea Edmonds-Read, who took over in 2011.</p>
	<p>The AISL has grown to now consist of four ever-growing divisions, where some divisions have competitive and recreational tiers. The AISL runs over the course of 2x15-week sessions, Fall (Sept - Jan) and Spring (Jan - May), and averages 32 teams per session.</p>
	<p>The AISL would not exist without the support of the Beckwith Township Recreation Department, the Carleton Place Soccer Club, the AISL referee panel, team managers, and all of our players.</p>
	<p>We do this for the love of the game. We hope you have an enjoyable and safe experience playing in the AISL.</p>
	</div>
</div>
  
{% endblock %}