{% extends "lastever/base.html" %}

{% block head_title %}Contact Information{% endblock %}

{% block content %}

<div class="py-2 subpage-banner">
	<div class="container-lg container-fluid">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <h1 class="display-5 fw-bold lh-1 mb-3">Contact Information</h1>
      </div>
    </div>
  </div>
</div>
<div class="container-lg pt-5 pb-4 container-fluid">
		<p>The AISL is sanctionned by Ontario Soccer, and is the official Adult Indoor league of the Carleton Place Soccer Club.</p>
		<div class="row row-cols-3 row-cols-lg-3 row-cols-xs-1 row-cols-sm-1 row-cols-md-2">
			<div class="col mb-4">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">If you are registered on a team:</h5>
						<p class="card-text">We have over 400 registered players in the league. As such, if you have any questions or comments about the Adult Indoor Soccer League, please contact your team manager / captain and ask them to contact the league convenors. We appreciate your cooperation.</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">If you are not registered on a team:</h5>
						<p class="card-text">General e-mail contact: Beckwith.AISL@hotmail.com</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">If there is a soccer related emergency (referee no-show, serious injury, etc.):</h5>
						<p class="card-text">Urgent/emergency issues only: 613-250-8911</p>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}