{% extends "lastever/base.html" %}

{% block head_title %}Home{% endblock %}

{% block content %}
<div class="main-cover">
  <div class="cards-container container">
    {% if messages %}
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <div class="row">
        {% for art in articles %}
        <div class="col-lg-12 mb-4 mt-4">
            <div class="card h-100">
              <div class="card-header">
                <h4>{{ art.title }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ art.posted }}</h6>
              </div>
              <div class="card-body">
                  {{ art.text|safe }}
              </div>
            </div>
          </div>
        {% empty %}
        <div class="col-lg-12 mb-4 mt-4">
            <div class="card h-100">
              <div class="card-header">
                <h4>No news</h4>
              </div>
              <div class="card-body">
                  There is currently no news! Stay tuned for more updates.
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <a class="btn btn-secondary d-flex justify-content-center mb-3" href="/news" role="button">View All News</a>
  </div>
  
    <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Expected Divisional Game Nights and Kickoff Times</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
      <div class="feature col">
        <h3>Women's 30+</h3>
        <ul>
			<li>Sunday nights</li>
			<li>Kickoff times: 6:00pm – 10:00pm</li>
		</ul>
      </div>
      <div class="feature col">
        <h3>Women's Open 18+</h3>
        <ul>
			<li>Competitive and Recreational tier</li>
			<li>Wednesday nights</li>
			<li>Kickoff times: 6:00pm – 11:00pm</li>
			<li>If there are more than 10 teams, games may be held:
			<ul>
				<li>Tuesday nights</li>
				<li>Kickoff times: 9:00pm – 11:00pm</li>
			</ul>
			</li>
		</ul>
      </div>
      <div class="feature col">
        <h3>Co-ed Open 18+</h3>
        <ul>
			<li><span style="font-size:14px">Thursday nights</li>
			<li><span style="font-size:14px">Kickoff times: 6:30pm – 10:30pm</li>
			<li><span style="font-size:14px">If there are more than 8 teams, games may be held:
			<ul>
				<li>Tuesday nights</li>
				<li><span style="font-size:14px">Kickoff times: 9:00pm – 11:00pm</li>
			</ul>
			</li>
		</ul>
      </div>
      <div class="feature col">
        <h3>Men's OT 35+</h3>
        <ul>
			<li><span style="font-size:14px">Competitive and Recreational tier</li>
			<li><span style="font-size:14px">Friday nights</li>
			<li><span style="font-size:14px">Kickoff times: 6:30pm – 11:30pm</li>
		</ul>
      </div>
    </div>
  </div>
</div>


{% endblock %}
