{% extends "lastever/base.html" %}

{% block head_title %}Home{% endblock %}

{% block content %}

<div class="container-lg col-xxl-12 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Adult Indoor Soccer League</h1>
        <p class="lead">The official indoor soccer league of the Carleton Place Soccer Club in partnership with the Beackwith recreation department</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>
<div class="main-cover">
  <div class="cards-container container-lg">
    {% if messages %}
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
	<div class="row">
	<div class="col-md-6 mb-4">
		<div class="h-100 p-5 bg-light rounded-3">
			<h2 class="fw-bold">Proof of Vaccinations</h2>
			<p>As per the September 1, 2021, Government of Ontario announcement, as of September 22, 2021, any person entering the Beckwith Recreational Complex will require proof of two COVID-19 vaccinations.</p>
			<p><strong>Click to see the AISL <a href="/uploads/files/Ontario_Proof_of_Vaccination.pdf" target="_blank">proof of vaccination primer</a>.</strong></p>
		</div>
	</div>
	<div class="col-md-6 mb-4">
		<div class="h-100 p-5 bg-light rounded-3">
			<h2 class="fw-bold">Return To Play Guide</h2>
			<p>Please see the AISL Return To Play Guide for information on how the 2021 / 2022 AISL season will run differently to respect safety practices and modifications to traditional league rules.</p>
			<p><strong><a href="/uploads/files/RTP/Return_to_Play_-_AISL_Modifications.pdf" target="_blank">2021 / 2022 AISL RETURN TO PLAY GUIDE</a></strong></p>
		</div>
	</div>
	</div>
	<h2 class="text-center mt-4">Latest News</h2>
   <div class="row row-cols-lg-3 row-cols-xs-1 row-cols-sm-1 row-cols-md-2 g-4 mt-2">
        {% for art in articles %}
		<div class="col mb-4">
			<div class="card h-100">
				<div class="card-body">
					<h3 class="card-title">{{ art.title }}</h3>
					<h6 class="mb-2 text-muted">{{ art.posted }}</h6>
					<p class="card-text">{{ art.text|safe|truncatewords:"40"|striptags }}</p>
					<a class="btn btn-primary" type="button" href="/news/{{ art.slug }}">Read More</a>
				</div>
			</div>
		</div>
        {% empty %}
        <div class="p-5 mb-4 bg-light rounded-3">
		  <div class="container-fluid py-5">
			<h1 class="display-5 fw-bold">No News</h1>
			<p class="col-md-8">There is currently no news! Stay tuned for more updates.</p>
		  </div>
		</div>
        {% endfor %}
      </div>
      <a class="btn btn-secondary mb-3" href="/news" role="button">View All News</a>
	
	<p>The AISL indoor season is comprised of competitive and recreational teams in four divisions competing across two or three sessions.</p>
	<p>All games held at the Beckwith Recreation Complex in Beckwith, Ontario.</p>
	<p>The league is an Ontario Soccer sanctionned league through the Carleton Place Soccer Club.</p>
	
	 <h3 class="pt-4 pb-2 border-bottom text-center">Sessions</h3>
	 <h5><strong>Two sessions:</strong></h5>
	 <ul>
		<li>Fall Session: September - January (15 games)</li>
		<li>Spring Session: January - May (15 games)</li>
	</ul>
	
    <div class="container-lg px-4 py-5" id="featured-3">
    <h3 class="pb-2 border-bottom text-center">Expected Divisional Game Nights and Kickoff Times</h3>
		<div class="row row-cols-4 pt-5">
			<div class="col mb-4">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">Women's 30+</h5>
						<ul>
							<li>Sunday nights</li>
							<li>Kickoff times: 6:00pm – 10:00pm</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">Women's Open 18+</h5>
						<ul>
							<li>Competitive and Recreational tier</li>
							<li>Wednesday nights</li>
							<li>Kickoff times: 6:00pm – 11:00pm</li>
							<li>If there are more than 10 teams, games may be held:
							<ul>
								<li>Tuesday nights</li>
								<li>Kickoff times: 9:00pm – 11:00pm</li>
							</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">Co-ed Open 18+</h5>
						<ul>
							<li>Thursday nights</li>
							<li>Kickoff times: 6:30pm – 10:30pm</li>
							<li>If there are more than 8 teams, games may be held:
							<ul>
								<li>Tuesday nights</li>
								<li>Kickoff times: 9:00pm – 11:00pm</li>
							</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">Men's OT 35+</h5>
						<ul>
							<li>Competitive and Recreational tier</li>
							<li>Friday nights</li>
							<li>Kickoff times: 6:30pm – 11:30pm</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
