{% extends "lastever/base.html" %}

{% block head_title %}Schedule{% endblock %}

{% block content %}
<div class="main-cover">
  <div class="cards-container container">
    <h1 class="my-4">Schedule</h1>
    {% if messages %}
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-lg-12 mb-4 mt-4">
        <div class="card h-100">
          <div class="card-header">
            <h4>Schedule</h4>
          </div>
          <div class="card-body">
            <table
              class="table table-bordered table-striped table-dark table-hover table-sm">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center">Date</th>
                  <th scope="col" style="text-align: center">Time</th>
                  <th scope="col" style="text-align: center">Home</th>
                  <th scope="col" style="text-align: center">Away</th>
                </tr>
              </thead>
              <tbody>
                {% for s in schedule %}
                  <tr>
                    {% if s.status == "RES" %}
                      <td scope="row" colspan="2" style="text-align: center">Rescheduled</td>
                    {% elif s.status == "CAN" %}
                      <td scope="row" colspan="2" style="text-align: center">Cancelled</td>
                    {% else %}
                      <td scope="row" style="text-align: center">{{ s.scheduled_time | date:"M. d, Y" }}</td>
                      <td style="text-align: center">{{ s.scheduled_time | date:"h:i A" }}</td>
                    {% endif %}
                    <td style="text-align: center">{{ s.home_team }}</td>
                    <td style="text-align: center">{{ s.away_team }}</td>
                  </tr>
                {% empty %}
                  <tr>
                      <td colspan="4" style="text-align: center">
                        No games are currently scheduled.
                      </td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mb-4 mt-4">
        <div class="accordion" id="results">
        <div class="card">
          <div class="card-header" id="headingResults">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseResults" aria-expanded="true" aria-controls="collapseResults">
                <h4>Results</h4>
            </button>
          </div>
          <div id="collapseResults" class="collapse" aria-labelledby="headingResults" data-parent="#results">
            <div class="card-body">
              <table
                class="table table-bordered table-striped table-dark table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col" style="text-align: center">Date</th>
                    <th scope="col" style="text-align: center">Home</th>
                    <th scope="col" style="text-align: center">Score</th>
                    <th scope="col" style="text-align: center">Away</th>
                    <th scope="col" style="text-align: center">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for r in results %}
                    <tr>
                      <td scope="row" style="text-align: center">{{ r.scheduled_time | date:"M. d, Y" }}</td>
                      <td style="text-align: center">{{ r.home_team }}</td>
                      <td style="text-align: center">
                        {{ r.home_score }}
                        {% if r.home_pk %}
                         ({{r.home_pk}})
                        {% endif %} -
                        {{ r.away_score }}
                        {% if r.away_pk %}
                         ({{r.away_pk}})
                        {% endif %}</td>
                      <td style="text-align: center">{{ r.away_team }}</td>
                      {% if r.status == "FIN" %}
                        <td style="text-align: center">Final</td>
                      {% elif r.status == "FET" %}
                        <td style="text-align: center">Final (ET)</td>
                      {% elif r.status == "FPK" %}
                        <td style="text-align: center">Final (PK)</td>
                      {% endif %}
                    </tr>
                  {% empty %}
                    <tr>
                        <td colspan="5" style="text-align: center">
                          No games have been played yet.
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
