{% extends "lastever/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">{% trans "Change Password" %}</h1>
        <p class="col-lg-10 fs-4">Update your account password at any time using the form.</a></p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light password_change" method="post" action="'account_change_password' %}">
		{% csrf_token %}
                  {% if form.errors %}
                    {% for field in form %}
                      {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">
                          {{ error|escape }}
                        </div>
                      {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                      <div class="alert alert-danger" role="alert">
                        {{ error|escape }}
                      </div>
                    {% endfor %}
                  {% endif %}
			<div class="form-floating mb-3">
                <input id="id_oldpassword floatingInput" class="form-control" name="oldpassword" placeholder="Current Password" type="text"/>
                <label for="id_oldpassword">Old Password</label>
            </div>
            <div class="form-floating mb-3">
                <input id="id_password1 floatingInput" class="form-control" name="password1" placeholder="New Password" type="text"/>
                <label for="id_password1">New Password</label>
            </div>
            <div class="form-floating mb-3">
                <input id="id_password2 floatingInput" class="form-control" name="password2" placeholder="New Password (again)" type="text"/>
                <label for="id_password2">New Password (again)</label>
            </div>
            <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>	  
        </form>
      </div>
    </div>
  </div>

{% endblock %}
