{% extends "lastever/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Password Reset</h1>
        <p class="col-lg-10 fs-4">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it. Please contact us if you have any trouble resetting your password.</a></p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light password_reset" method="post" action="{% url 'account_reset_password' %}">
		{% csrf_token %}
                {% if form.errors %}
                  {% for field in form %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger" role="alert">
                        {{ error|escape }}
                      </div>
                    {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                      {{ error|escape }}
                    </div>
                  {% endfor %}
                {% endif %}
          <div class="form-floating mb-3">
            <input id="id_email floatingInput" class="form-control" name="email" placeholder="Email Address" type="text" />
		    <label for="id_email">Email address</label>
          </div>
          <button class="btn btn-primary primaryAction" type="submit">{% trans 'Reset My Password' %}</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
